@charset "utf-8";
@import url(../earlyaccess/nanumgothic.css);
@import url(http://fonts.googleapis.com/earlyaccess/NotoSanskr.css);
@import url(http://fonts.googleapis.com/earlyaccess/nanumsquare.css);
#wrap {float:left; width:100%; position:relative; overflow:hidden;background:url(../images/bg.jpg) center top no-repeat}
* {box-sizing: border-box;	-ms-box-sizing: border-box;	-webkit-box-sizing: border-box;}

/*-------------------------------------------------------------------------------------*
 *  Header                                                                             *
 *-------------------------------------------------------------------------------------*/
#header_wrap {float:left; width:100%;}
.header_box {margin:0px auto; width:1300px;}
.util_wrap {float:left; width:100%; height:193px; z-index:10 }
.util_left {floaT:left; line-height:193px; font-family:'nanumsquare', sans-serif; font-size:16px; font-weight:600}
.util_right {floaT:right; }
.my {line-height:193px}
.my_a {padding:55px 0 0 0;font-family:'nanumsquare', sans-serif;font-size:18px; text-align:center}
.icon_re {height:30px}
.gnb_wrap {width:100%; float:left; background:url(../images/bg_gnb.jpg) center top no-repeat; z-index:999}
.gnb {width:100%; float:left; text-align:center}
.gnb ul li {display:inline-block; padding:0 31px 0 31px; line-height:75px;  font-family:'nanumsquare', sans-serif; color:#000;text-shadow:1px 0px 1px rgba(255,255,255,0.5); font-size:22px; font-weight:900; letter-spacing:-1px}
.gnb ul li a {color:#000;}
.gnb ul li a {text-decoration: none;}
.gnb ul li a:hover {color:#402e20}

/* 탑배너 */
.top_banner_wrap {width:100%;  background:url(../images/event_bg.jpg) top center no-repeat; padding:40px 0 40px 0; height:500px; position:fixed; top:-500px; z-index:1000}
.top_banner {width:1550px; margin:0px auto; position:relative; text-align:center;  }
.top_banner ul li {display:inline-block; margin:0 2px 0 2px; box-shadow:rgba(0,0,0,0.3) 8px 8px 8px -1px;}
.top_banner_scroll {position:absolute}

/* 탑배너버튼 */
.event_btn {position:absolute; left:120px; bottom:-87px}
.banner_up {z-index:1; display:none}
.banner_down {z-index:2}


/*-------------------------------------------------------------------------------------*
 *  Contents                                                                           *
 *-------------------------------------------------------------------------------------*/
#contents_wrap {float:left; width:100%; min-height:350px; padding:30px 0 40px 0;}
.contents_box {margin:0px auto; width:1300px;}
.contents_in {width:100%; float:left; padding:100px 50px 50px 50px}
.contents_in_2 {width:100%; float:left; padding:50px 50px 50px 50px}
.title1 {float:left; width:100%; height:120px;line-height:120px;  background:url(../images/bg_title.png) no-repeat; font-family:'nanumsquare', sans-serif;  font-size:44px; text-shadow:1px 0px 1px rgba(255,255,255,0.5); letter-spacing:-2px; font-weight:900; text-align:center; color:#000}
.title2 {padding:0 0 5px 0; font-weight:700; font-size:18px; color:#ff9c00; font-weight:600; font-family:'nanumgothic', sans-serif; letter-spacing:-1px;}
.title3 {float:left; width:100%; height:70px; line-height:70px;  background:url(../images/bg_title.png) bottom center no-repeat;font-family:'nanumsquare', sans-serif;  font-size:30px; text-shadow:1px 0px 1px rgba(255,255,255,0.5); text-align:center;letter-spacing:-2px; font-weight:900; color:#000}

.con_box00 {float:left; width:100%; margin:0 0 0 0;}
.con_box10 {float:left; width:100%; margin:10px 0 0 0;}
.con_box20 {float:left; width:100%; margin:20px 0 0 0;}
.con_box30 {float:left; width:100%; margin:30px 0 0 0;}
.con_box40 {float:left; width:100%; margin:40px 0 0 0;}
.con_box50 {float:left; width:100%; margin:50px 0 0 0;}
.con_box60 {float:left; width:100%; margin:60px 0 0 0;}
.con_box100 {float:left; width:100%; margin:100px 0 0 0;}


.popup_none {display:none;width:100%; background-attachment:fixed}
.popup_wrap {width:1300px; margin:0px auto}
.close_box {width:100%; float:left; text-align:center; padding:10px 0 0 0; height:94px; }
.popupbox {width:100%; float:left;  min-height:calc(100vh - 94px); border-radius:5px; position:relative }
.game_tit { width:100%; float:left; }


.popup_tab_wrap {width:100%; position:absolute; left:0; top:155px; padding:0 50px 0 50px; }
.popup_tab {float:left;width:100%; background:url(../images/tab_bg.jpg) center top no-repeat; text-align:center  }
.popup_tab li {display:inline-block; padding:0 18px 0 18px}
.popup_tab li img {height:30px}
.popup_tab li.popupactive {}
.popup_tab li span {font-family:'nanumsquare', sans-serif; font-size:17px; color:#000; text-shadow:1px 0px 1px rgba(255,255,255,0.5); line-height:48px; display:inline-block; font-weight:900}
.popup_tab li span:hover {}
.popup_tab li.popupactive span{}
.popuptab_cont {display:block; clear:both}
.popupvis_hidden {display:none}




.tab_wide {float:left; width:100%; margin:0 0 0 0;}
.tab_wide_table {display:table; width:100%; border-collapse:collapse;}
.tab_wide_tr {display:table-row;}
.tab_wide_tr a {display: table-cell; width:5%; font-family:nanumgothic; font-size:14px; color:#fff; font-weight:700; font-weight:100;border:solid 1px #1d2532 }
.tab_wide_td {display:table-cell; width:5%; height:40px; vertical-align:middle; text-align:center; background:linear-gradient(#74604a 0%,  #4e3f32 100%); color:#e8bd8e; font-weight:600}
.tab_wide_td:hover {background:linear-gradient(#f1ddc6 0%,  #d2b89b 100%); color:#6b411f;}
.tab_wide_tdon {background:linear-gradient(#f1ddc6 0%,  #d2b89b 100%); color:#6b411f;}



.sub_tab {float:left;width:100%; }
.sub_tab li {float:left; margin:0 3px 3px 0}
.sub_tab li.active {}
.sub_tab li:last-child {margin:0}
.sub_tab li span {width:140px;height:40px; font-family:Aria, sans-serif;  color:#ffffff; background:rgba(255,255,255,0.1); border:solid 1px rgba(255,255,255,0.3); line-height:38px; text-align:center; font-size:14px; font-weight:600;  display:inline-block; }
.sub_tab li.active span{width:140px; height:40px;font-family:Aria, sans-serif; color:#3c3428; background:url(../images/tab_bg.jpg) center center no-repeat; color:#000; line-height:38px; text-align:center; font-weight:600; display:inline-block; }
.tab_cont {display:block}
.vis_hidden {display:none}



.slot_title {background:red; float:left; width:100%; height:62px; line-height:52px; font-weight:700; font-size:25px; color:#ffffff; font-family:'Noto Sans KR', sans-serif; letter-spacing:-3px; text-shadow:1px 0px 1px #000000; text-align:center;  border:3px solid #13321b; margin:20px 0 0 0;}
.slot_list {float:left; width:100%; margin:10px 0 0 0; color:#fff}
.slot_list table tr td {color:#ffffff}
.slot_list table tr td table tr td {background:rgba(255,255,255,0.1); text-align:center;}
.slot_list table tr td table tr td:nth-child(2),
.slot_list table tr td table tr td:nth-child(4),
.slot_list table tr td table tr td:nth-child(6),
.slot_list table tr td table tr td:nth-child(8),
.slot_list table tr td table tr td:nth-child(10),
.slot_list table tr td table tr td:nth-child(12),
.slot_list table tr td table tr td:nth-child(14){background:none}
.slot_list table tr td table tr td:hover {background:rgba(255,255,255,0.1);}
.slot_list table tr td table tr td:nth-child(2):hover,
.slot_list table tr td table tr td:nth-child(4):hover,
.slot_list table tr td table tr td:nth-child(6):hover,
.slot_list table tr td table tr td:nth-child(8):hover,
.slot_list table tr td table tr td:nth-child(10):hover,
.slot_list table tr td table tr td:nth-child(12):hover,
.slot_list table tr td table tr td:nth-child(14):hover {background:none}

.money  {width:100%; text-align:center}
.money li { display:inline-block; padding:0 10px 0 10px}


/*-------------------------------------------------------------------------------------*
 *  Footer                                                                             *
 *-------------------------------------------------------------------------------------*/
#footer {float:left; width:100%; text-align:center; padding:40px 0 60px 0; color:#3a3a3a}





/*-------------------------------------------------------------------------------------*
 *  Main                                                                               *
 *-------------------------------------------------------------------------------------*/
.visual_ling_1{width:100%; float:left; height:4px; background:url(../images/visual_line_1.jpg) center top no-repeat}
.visual_ling_2{width:100%; float:left; height:4px; background:url(../images/visual_line_2.jpg) center top no-repeat}
.visual_wrap {
    width: 100%;
    height: 392px;
    float: left;
    background: url(../images/visual_bg.jpg) center top no-repeat;
    overflow: hidden;
}
.visual {width:1920px; position:absolute; left:50%; margin-left:-960px; }

.jack_wrap {width:100%;  float:left; padding:50px 0 0 0; width:750px; text-align:right; position:relative; left:50px; z-index:999}
.jack_tit {width:100%; float:left; }
.jack_wrap ul li{display:inline-block; margin:0 -4px 0 -4px}
.num_b {width:90%}
.num_s {width:85%}
.jack_num {width:100%; float:left;}
.jack_list {width:380px; height:46px; margin:10px 0 0 0;  float:right; background:url("../images/jack_bg.png") no-repeat}
.jack_list table tr td { font-family:'nanumsquare', sans-serif; font-size:16px; font-weight:700; line-height:48px;}
.jack_td1 {color:#ff9c00; padding:0 0 0 65px}
.jack_td2 {color:#ffffff}
.jack_td3 {color:#949494; padding:0 10px 0 0}
.customer {text-align:center}
.kakao {width:337px; height:53px; display:inline-block; background:url(../images/kakao_bg.png) no-repeat;text-align:right; padding:0 25px 0 0; line-height:53px;font-family:Arial, sans-serif; font-size:22px; font-weight:600; color:#fddc3f}
.tele {width:337px; height:53px; display:inline-block; background:url(../images/tele_bg.png) no-repeat;text-align:right; padding:0 25px 0 0; line-height:53px;font-family:Arial, sans-serif; font-size:22px; font-weight:600; color:#2cb9f6}

/*-- 게시판 -------------------------------------------------------------------------------------------------------------------------------------------------------------------------------*/
.list_title1  {background:#3f382b; line-height:40px; font-weight:bold; text-align:center; font-weight:bold; color:#fedaa0}
.list_notice1 {text-align:center; background:rgba(255,255,255,0.1); font-weight:600; border-bottom:solid 1px rgba(255,255,255,0.2)}
.list_notice2 {line-height:40px;  background:rgba(255,255,255,0.1); border-bottom:1px solid rgba(255,255,255,0.2); padding:0 0 0 15px;  color:#fedaa0; font-weight:bold;}
.list1        {line-height:40px; border-bottom:1px solid rgba(255,255,255,0.2); text-align:center;color:#ffffff }
.list2        {line-height:40px; border-bottom:1px solid rgba(255,255,255,0.2); padding:0 0 0 15px; font-weight:bold;color:#ffffff}
.listimg_f {font-size:14px; font-family:'nanumgothic', sans-serif;vertical-align:top; background:#fff; padding:10px; background:#f1f1f1;  font-weight:bold; text-align:center; font-weight:bold;  border-top:solid 1px #1d1e24; border-bottom:solid 1px #dedede}
.listf     {font-size:14px; font-family:'nanumgothic', sans-serif;background:#fff; padding:10px; background:#f1f1f1;  font-weight:bold; font-weight:bold; border-top:solid 1px #1d1e24;  border-bottom:solid 1px #dedede}
.listimg_q {font-size:14px; font-family:'nanumgothic', sans-serif;vertical-align:top; padding:10px; border-bottom:1px solid #1d1e24;  text-align:center;}
.listq	   {font-size:14px; font-family:'nanumgothic', sans-serif;padding:10px; border-bottom:1px solid #1d1e24;  }
.listimg_f img, .listimg_q img {height:15px}

.write_title_top { border-top:solid 2px #3f382b}
.write_title     { border-bottom:solid 1px rgba(255,255,255,0.2); min-height:48px; line-height:35px; padding:3px 10px 3px 10px;  width:150px;  color:#fedaa0;font-weight:600; vertical-align:middle}
.write_basic     { border-bottom:solid 1px rgba(255,255,255,0.2); min-height:48px; padding:3px 5px 3px 5px;vertical-align:middle; color:#ffffff; }
.view1     {background:#3f382b; border-top:solid 2px #743400; border-bottom:solid 2px #dedede; padding:0 20px 0 20px; width:100%; height:50px; line-height:50px;border-radius:5px;  font-weight:600; color:#fff;}
.view2     {background:rgba(255,255,255,0.1);  border:solid 1px rgba(255,255,255,0.2); padding:12px 20px 10px 20px; width:100%; line-height:26px;}
.view_box  {background:#f9f9f9; border:solid 1px #dedede; padding:5px 8px 3px 8px; line-height:12px; text-align:center; display:inline-block; color:#000; font-size:12px; margin:0 5px 0 0; font-weight:100;}

.page_wrap       {float:left; width:100%; text-align:center;  }
.page_wrap ul li {display:inline;}
.page            {background:linear-gradient(#505050 0%,  #333333 100%); display:inline-block; width:32px; height:32px; border-radius:3px; line-height:32px; color:#ffffff; }
.pageon          {background:linear-gradient(#74604a 0%,  #4e3f32 100%); display:inline-block; width:32px; height:32px; border-radius:3px; line-height:32px; color:#ffffff; font-weight:600 }

.info_wrap {background:rgba(255,255,255,0.1); float:left; width:100%; padding:10px 0 10px 0;}
.info1     {float:left; width:100%; line-height:26px; padding:0 20px 5px 20px; color:#ff9c00; font-size:16px; font-family:nanumgothic; font-weight:600;}
.info2     {float:left; width:100%; line-height:26px; font-weight:900; color:#00fcff; padding:0 20px 0 20px; font-size:14px;}
.info3     {float:left; width:100%; line-height:22px; padding:5px 20px 0 23px; color:#fedaa0}

.ww_font {font-family:'nanumgothic', sans-serif; font-size:18px; color:#fedaa0; font-weight:600; }

.mypage_box  { width:100%; display:table; background:#211d1a;padding:10px; border:solid 2px #5c4431  }
.mypage_box1 { width:25%;  display:table-cell; padding:0 10px 0 0; vertical-align:middle; text-align:center}
.mypage_box2 { width:75%;  display:table-cell; vertical-align:middle}

.mypage_wrap_box {background:#e2d09a; padding:2px; float:left; width:100%;}
.mypage_wrap {background:#363124; float:left; width:100%; padding:5px 0 5px 0; text-align:center;}
.mypage1     {float:left; width:100%; line-height:24px; padding:20px 30px 0 30px; color:#dccfb1; font-size:24px; font-family:'nanumsquare', sans-serif;  font-weight:700;}
.mypage2     {float:left; width:100%; line-height:40px; font-weight:600; color:#ffffff; padding:0 0 0 0; font-size:18px; letter-spacing:-1px; font-family:'nanumsquare', sans-serif;  }
.mypage3     {float:left; width:100%; line-height:20px; padding:0 0 3px 0; color:#00a4cd; letter-spacing:-1px; font-size:16px;  font-weight:900; font-family:Arial, sans-serif; letter-spacing:-1pt;}
.mypage4	 {width:100%; display:table;  position:relative; text-align:left; padding:0 0px 0 10px}
.mypage4_row {display:table-row}
.mypage4_cell1 {display:table-cell; text-align:left; vertical-align:middle;color:#dddddd;}
.mypage4_cell1 img {width:60px;}
.mypage4_cell2 {display:table-cell; text-align:right; vertical-align:middle; padding:5px 10px 0 0; color:#ffffff; font-weight:600}
.mypage4 a {position:absolute; right:10px; top:0px}
.mypage4 a img {height:25px; width:25px}
.mypage4_cell2_m {margin:0 40px 0 0}
.mypage2_wrap_box {background:#e2d09a;  padding:2px; float:left; width:100%; }
.mypage2_wrap {background:#363124; float:left; width:100%; padding:5px 0 5px 0; text-align:center;}
.mypage21     {float:left; width:100%; line-height:24px; padding:20px 10px 0 10px; color:#ffffff; font-size:22px; font-family:'nanumgothic', sans-serif;  font-weight:700;}
.mypage22     {float:left; width:100%; line-height:34px; font-weight:600; color:#dddddd; padding:0 0 0 0; font-size:14px; letter-spacing:-1px; font-family:'nanumgothic', sans-serif;  }
.mypage23     {float:left; width:100%; line-height:20px; padding:0 0 3px 0; color:#ffffff; letter-spacing:-1px; font-size:14px;  font-weight:900;font-family:'nanumgothic', sans-serif;  letter-spacing:0pt;}
.mypage55     {width:100%; line-height:34px; font-weight:600; color:#ffffff; padding:0 0 0 0; font-size:18px; letter-spacing:-1px; font-family:'nanumsquare', sans-serif; text-align:center }
.mypage66     {width:100%; line-height:34px; font-weight:900; color:#fedaa0; padding:0 0 0 0; font-size:20px; letter-spacing:-1px; font-family:'nanumsquare', sans-serif; text-align:center }


.mypage3_wrap_box {background:#544a41; border:solid 1px #dedede; padding:6px; float:left; width:100%; }
.mypage3_wrap {background:#453d36; float:left; width:100%; padding:5px 0 5px 0; text-align:center;}

/*-- 버튼 ---------------------------------------------------------------------------------------------------------------------------------------------------------------------------------*/
.btn_wrap_right        {float:left; width:100%; text-align:right; }
.btn_wrap_right ul li  {display:inline;}
.btn_wrap_center       {float:left; width:100%; text-align:center; }
.btn_wrap_center ul li {display:inline;}


.btn1_1         {background:linear-gradient(#74604a 0%,  #4e3f32 100%);  min-width:70px; height:35px; padding:0 10px 0 10px ;line-height:32px;  text-align:center; display:inline-block; font-family:nanumgothic, sans-serif; color:#fff; font-size:12px; font-weight:600; border-radius:5px }
.btn1_1:hover   {background:linear-gradient(#887157 0%,  #614e3e 100%);}

.btn1_2         {background:linear-gradient(#505050 0%,  #333333 100%);min-width:70px; height:35px; padding:0 10px 0 10px ;line-height:32px;  text-align:center; display:inline-block; font-family:nanumgothic, sans-serif; color:#fff; font-size:12px; font-weight:600; border-radius:5px  }
.btn1_2:hover   {background:linear-gradient(#666666 0%,  #464646 100%);}

.btn2_1         {background:linear-gradient(#74604a 0%,  #4e3f32 100%); width:130px; height:36px; line-height:36px; text-align:center; display:inline-block; font-family:nanumgothic, sans-serif; color:#ffffff; font-size:14px; font-weight:600; border-radius:5px }
.btn2_1:hover   {background:linear-gradient(#887157 0%,  #614e3e 100%);}

.btn2_2         {background:linear-gradient(#505050 0%,  #333333 100%); width:130px; height:36px; line-height:36px; text-align:center; display:inline-block; font-family:nanumgothic, sans-serif; color:#ffffff; font-size:14px; font-weight:600; border-radius:5px }
.btn2_2:hover   {background:linear-gradient(#666666 0%,  #464646 100%);}

.btn3_1         {background:linear-gradient(#74604a 0%,  #4e3f32 100%);width:240px; height:50px; line-height:50px; text-align:center; display:inline-block; font-family:nanumgothic, sans-serif; color:#fff; font-size:18px; font-weight:600;border-radius:5px   }
.btn3_1:hover   {background:linear-gradient(#887157 0%,  #614e3e 100%);}

.btn3_2         {background:linear-gradient(#505050 0%,  #333333 100%); width:240px; height:50px; line-height:50px; text-align:center; display:inline-block; font-family:nanumgothic, sans-serif; color:#fff; font-size:18px; font-weight:600;border-radius:5px }
.btn3_2:hover   {background:linear-gradient(#666666 0%,  #464646 100%);}

.btn_tab      {background:#4f4f4f; border:solid 1px #4f4f4f; min-width:70px; display:inline-block; font-family:nanumgothic; padding:6px 8px 6px 8px; line-height:12px; color:#ffffff; border-radius:0px; font-weight:700; text-align:center;}
.btn_tabon    {background:#644728; border:solid 1px #644728; min-width:70px; display:inline-block; font-family:nanumgothic; padding:6px 8px 6px 8px; line-height:12px; color:#ffffff; border-radius:0px; font-weight:700; text-align:center;}


.icon1   { border:solid 1px #fedaa0; min-width:70px; display:inline-block; font-family:nanumgothic; padding:6px 8px 6px 8px; line-height:12px; color:#fedaa0; border-radius:0px; font-weight:700; text-align:center;}
.icon2   { border:solid 1px #ffffff; min-width:70px; display:inline-block; font-family:nanumgothic; padding:6px 8px 6px 8px; line-height:12px; color:#ffffff; border-radius:0px; font-weight:700; text-align:center;}
.icon3   {background:#746a57; min-width:70px; display:inline-block; font-family:nanumgothic; padding:6px 8px 6px 8px; line-height:12px; color:#dddddd; border-radius:0px; font-weight:700; text-align:center;}





/*-- 탭   ---------------------------------------------------------------------------------------------------------------------------------------------------------------------------------*/
.tab_wrap       {float:left;}
.tab_wrap ul li {float:left; margin:0 3px 3px 0}
.tab            {background:rgba(255,255,255,0.1); border:solid 1px rgba(255,255,255,0.3);  width:140px; height:40px; line-height:38px; font-family:nanumgothic, sans-serif; text-align:center; display:inline-block; color:#ffffff; font-size:14px; font-weight:600;}
.tab:hover      {background:rgba(255,255,255,0.2);}
.tabon          {background:url(../images/tab_bg.jpg) center center no-repeat;   width:140px; height:40px; line-height:38px; font-family:nanumgothic, sans-serif; text-align:center; display:inline-block; color:#000; font-size:14px; font-weight:600;}



/*-------------------------------------------------------------------------------------*
 *  login                                                                             *
 *-------------------------------------------------------------------------------------*/
.login_wrap  {float:left; width:100%; height:100vh; background:url("../images/bg_login.jpg") center top no-repeat; background-size:cover; padding:180px 0 0 0}
.login_close_box {position:absolute; right:50px; top:10px;}
.login_box_wrap {width:490px;  margin:0px auto;}
.login_tit {width:100%; float:left; text-align:center; position:relative;}
.login {width:100%; float:left;padding:55px 65px}
.login_table {width:100%}
.login_td1 {width:100%; padding:0 0 5px 0}
.login_td2 {width:100%; padding:0 0 10px 0}
.login_td3 {width:100%;   }
.login_btn1 {width:100%; height:60px; line-height:60px; color:#e7d2b3; font-weight:600; font-size:20px; letter-spacing:-1px; text-align:center; display:inline-block; background:linear-gradient( #7f614a 0%,  #432e20 100%);  font-family:nanumgothic; }
.login_btn1:hover {background:linear-gradient(#937258 0%, #543928 100%);}



/*-------------------------------------------------------------------------------------*
 *  Style                                                                              *
 *-------------------------------------------------------------------------------------*/
/* 폰트 스타일 */
.font01 {color:#ffffff; font-weight:600;}
.font02 {color:#000000; font-weight:600;}
.font03 {color:#000000;}
.font04 {color:#ff9c00;font-weight:600;} /* 주황 */
.font05 {color:#00fcff;font-weight:600;} /* 하늘 */
.font06 {color:#949494;font-weight:600;}  /* 회색 */
.font07 {color:#fedaa0;font-weight:600;} /*  */
.font08 {}
.font09 {}
.font10 {}

.font11 {color:#fff; font-size:18px; font-family:'nanumgothic', sans-serif; text-shadow:1px 1px 1px #000000;font-style:italic}
.font12 {color:#f2e07b; font-weight:900; font-size:22px;line-height:35px; font-family:'Noto Sans KR', sans-serif; text-shadow:1px 1px 1px #000000;}
.font13 {color:#b0977f;font-weight:900;}
.font14 {color:#818fa0;}
.font15 {color:#; font-weight:900;}

/* 인풋 스타일 */
.input_login  {background-color:#efefef; border:1px solid #d7d7d7;  width:100%; height:58px; color:#8f8f8f; border-radius:58px;  padding:0 0 0 30px; font-size:16px; font-family:'nanumgothic', sans-serif; }
.input_login2  {background-color:#ffffff; border:1px solid #b7b7b7;  padding:5px 0 3px 5px; width:100%; height:38px; padding:0 0 0 10px;font-size:14px; font-family:'nanumgothic', sans-serif; }
.input_search {background-color:#313131; border:1px solid #000000; padding:5px 0 3px 5px; border-radius:3px;}
.input1       {background-color:#2c2824; border:1px solid #2c2824; padding:0 0 0 10px; height:35px; border-radius:5px; color:#fff  }
.input2       {background-color:#2c2824; border:1px solid #2c2824; padding:0 0 0 10px; border-radius:5px;color:#fff   }

.input_login:focus{border:none; outline:none}
.input1:focus{border:none; outline:none}
.input2:focus{border:none; outline:none}



/*--ysk--------------------------------------------------------------------------------*

	ysk 2016년01월
	ysk와 g5와 겹치는 클래스명 container / gnb / logo

	border : border:3px solid red;
	bg     : background:url(../images/bg_visual.jpg); background-repeat:repeat-x;
	bg     : background:url("../images/bg.jpg") center top no-repeat;
	text   : text-align:center; display:inline;
	font   : font-size:18px; font-family:Nanum Gothic,sans-serif; color:#00aec3; font-weight:700; line-height:55px; letter-spacing:-1pt;
	font   : font-size:20px; color:#515151; font-weight:bold; font-family:Arial; letter-spacing:-1pt;
	input  : font-size:12px; color:#545454; margin:0 0 0 0; border:1px solid #393939; background:#1f1f1f; padding-top:2px; padding-left:5px; height:27px;

	메뉴 그림자 : box-shadow: 0 10px 10px -10px rgba(0, 0, 0, 0.8);

-----------------------------------------------------------------------------------ysk-*/

/*--ysk 특정영역에 레이어 띄우기-------------------------------------------------------*
<div style="position:absolute; z-index:1000000; left:50%;">
	<div style="position:absolute; left:-500px; top:440px; display: block; z-index:100000;">
		컨텐츠
	</div>
</div>
-----------------------------------------------------------------------------------ysk-*/


