.ngdialog.ngdialog-theme-default.ngdialog-login .ngdialog-content {
    width: 400px;
    /* height: 330px; */
    background: #ffffff;
    font-size: 13px;
    font-weight: 600;
    color: #999999;
    /* border: 2px solid #7dc131; */
    border-radius: 0;
    padding: 0;
}

.ngdialog-login-page .form-control {
    /*margin-bottom: 10px;*/
    background: #f7f7f7;
    border: 1px solid #f7f7f7;
    border-radius: 0;
    /*padding-left: 40px;*/
    color: #a2a5aa;
    border-left: 0;
}

.ngdialog-login-page .btn-red {
    border-radius: 0;
    font-weight: 600;
}

.ngdialog-login-page input[type='text'] {
    /*background: rgba(255, 255, 255, .05) url("https://image.lanye1118.com/app_fe/www.nh227.com/www.nh227.com/common/images/user-icon.png") no-repeat top 8px left 11px;*/
}

.ngdialog-login-page input[type='password'] {
    /*background: rgba(255, 255, 255, .05) url("https://image.lanye1118.com/app_fe/www.nh227.com/www.nh227.com/common/images/password-icon.png") no-repeat top 8px left 11px;*/
}

.ngdialog-login-page p.text-center.text-white {
    color: #a2a5aa;
    cursor: pointer;
    margin-top: 20px;
}

.ngdialog-login-page p.text-center.text-white span {
    color: #08bbff;
}

.ngdialog-login-page p.text-center.text-white span:hover {
    color: #ffffff;
}

.ngdialog.ngdialog-theme-default.ngdialog-login .ngdialog-close:before {
    font-size: 35px;
    line-height: 30px;
    right: 10px;
    top: 18px;
    width: 30px;
}

.ngdialog-login-page .login-title {
    color: #08bbff;
    font-size: 16px;
    margin-bottom: 20px;
}

.ngdialog-login-page .btn-gray {
    border-radius: 0;
}

.ngdialog-login-page .ngdialog-login__header {
    padding: 21px 10px;
    background: #2a2933;
    /*height: 65px;*/
}

.ngdialog-login-page .ngdialog-login__content {
    padding: 10px 54px 20px;
    border: 1px solid #08bbff;
}

.ngdialog-login .input-group-addon {
    background: #f7f7f7;
    border: 1px solid #f7f7f7;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
    border-right: 0;
    position: relative;
}

.input-group-addon .fa-user:before,
.input-group-addon .fa-lock:before {
    color: #08bbff;
}

.ngdialog-login .input-group-addon:after {
    content: "";
    position: absolute;
    height: 15px;
    width: 2px;
    background-color: #a2a5aa;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
}

.ngdialog-login .input-group {
    margin-bottom: 10px;
}

.ngdialog-login-page .btn-primary:hover {
    border-color: #4bd5e9;
    background: #4bd5e9;
    background: -moz-linear-gradient(top, #4bd5e9 0%, #01a5e2 100%);
    background: -webkit-linear-gradient(top, #4bd5e9 0%, #01a5e2 100%);
    background: linear-gradient(to bottom, #4bd5e9 0%, #01a5e2 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#4bd5e9', endColorstr='#01a5e2', GradientType=0);
}

.ngdialog-login-page .btn-primary {
    background: #2a2933;
}
