<!DOCTYPE html>
<html ng-app="mobileApp">

<head>
    <meta charset="utf-8" />
    <title>NEW Heaven Casino</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent" />
    <meta name="viewport" content="user-scalable=no, width=device-width, initial-scale=1, maximum-scale=1">
    <link rel="shortcut icon" href="favicon.ico" type="image/x-icon" />

    <link rel="icon" sizes="114x114" href="common/images/splash/splash-icon.png">
    <link rel="apple-touch-icon-precomposed" sizes="114x114" href="common/images/splash/splash-icon.png">
    <link rel="apple-touch-startup-image" href="common/images/splash/splash-screen.png" media="screen and (max-device-width: 320px)" />
    <link rel="apple-touch-startup-image" href="common/images/splash/splash-screen@2x.png" media="(max-device-width: 480px) and (-webkit-min-device-pixel-ratio: 2)" />
    <link rel="apple-touch-startup-image" sizes="640x1096" href="common/images/splash/splash-screen@3x.png" />
    <link rel="apple-touch-startup-image" sizes="1024x748" href="common/images/splash/splash-screen-ipad-landscape.png" media="screen and (min-device-width : 481px) and (max-device-width : 1024px) and (orientation : landscape)" />
    <link rel="apple-touch-startup-image" sizes="768x1004" href="common/images/splash/splash-screen-ipad-portrait.png" media="screen and (min-device-width : 481px) and (max-device-width : 1024px) and (orientation : portrait)" />
    <link rel="apple-touch-startup-image" sizes="1536x2008" href="common/images/splash/splash-screen-ipad-portrait-retina.png" media="(device-width: 768px)  and (orientation: portrait) and (-webkit-device-pixel-ratio: 2)" />
    <link rel="apple-touch-startup-image" sizes="1496x2048" href="common/images/splash/splash-screen-ipad-landscape-retina.png" media="(device-width: 768px) and (orientation: landscape)    and (-webkit-device-pixel-ratio: 2)" />

    <link rel="icon" type="image/png" sizes="16x16" href="/mobile/common/images/favicon/16x16.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/mobile/common/images/favicon/32x32.png">
    <link rel="icon" type="image/png" sizes="96x96" href="/mobile/common/images/favicon/96x96.png">

    <link rel="stylesheet" href="../common/css/plugins/animate.css">
    <link rel="stylesheet" href="../common/css/plugins/font-awesome.css">
    <link rel="stylesheet" href="../common/css/plugins/intlTelInput.css">
    <link rel="stylesheet" href="../common/css/plugins/ngDialog.css">
    <link rel="stylesheet" href="../common/css/plugins/ngDialog-theme-default.css">
    <link rel="stylesheet" href="../common/css/plugins/slick.css">
    <link rel="stylesheet" href="../common/css/plugins/slick-theme.css">
    <link rel="stylesheet" href="../common/css/plugins/sweetalert.css">
    <link rel="stylesheet" href="../common/css/plugins/datetimepicker.css">
    <link rel="stylesheet" href="../common/css/bootstrap.min.css">

    <link rel="stylesheet" href="common/css/responsive-thumbnails.css">
    <link rel="stylesheet" href="common/css/settlement.css">
    <link rel="stylesheet" href="/mobile/directive/component/jackpot/jackpot.css">
    <link rel="stylesheet" href="/mobile/directive/component/slotsview/slots-view.css">
    <link rel="stylesheet" href="/mobile/directive/component/gamebutton/gamebutton.css">
    <link rel="stylesheet" href="/mobile/directive/component/customer/customer.css">
    <link rel="stylesheet" href="/mobile/directive/component/announcement/announcement.css">
    <link rel="stylesheet" href="/mobile/directive/component/footer/footer.css">
    <link rel="stylesheet" href="/mobile/directive/component/balance/balance.css">
    <link rel="stylesheet" href="common/css/app-mobile.css">
    <link rel="stylesheet" href="common/css/ngdialog-default.css">
    <link rel="stylesheet" href="common/css/multiple-popup.css">

    <link rel="stylesheet" href="common/css/add2Home.css">
    <link rel="stylesheet" href="/common/plugins/build/css/intlTelInput.css">
    <script type="text/javascript" src="common/js/addtohomescreen.js"></script>
</head>

<body ontouchstart="" ng-controller="CommonController">


    <div class="wrapper">
        <div class="banner clearfix" ng-cloak="">
            <div class="header clearfix">
                <div class="sticky-header">
                    <button class="pull-left btn btn-custom-shape top-left" ng-click="displayLogin()">로그인</button>
                    <button class="pull-right btn btn-custom-shape top-right" ng-click="displaySignUp()">회원가입</button>

                </div>
            </div>
            <div class="logo">
                <img src="common/images/logo-blue-new.png" height="30%" width="30%">
            </div>
            <div class="banner-slider col-xs-12" ng-click="displayPromotionMobile()">
                <div><img src="/common/images/main/main-slider/promo-text-1.png" alt=""></div>
                <div><img src="/common/images/main/main-slider/promo-text-2.png" alt=""></div>
                <div><img src="/common/images/main/main-slider/promo-text-3.png" alt=""></div>
            </div>
        </div>
        <anouncement-mobile></anouncement-mobile>
        <balance-mobile></balance-mobile>
        <gamebutton-page></gamebutton-page>
        <customerservice-Page></customerservice-Page>
        <div class="clearfix"></div>
        <mobile-footer></mobile-footer>
        <div class="footer">
            <button class="pull-left btn btn-custom-shape bottom-left" ng-click="displayDeposit()">입금 신청</button>
            <!--<button class="btn btn-primary live-chat" onclick="LC_API.open_chat_window();">1:1문의 라이브쳇</button>-->
            <button class="pull-right btn btn-custom-shape bottom-right " ng-click="displayWithdraw()">출금 신청</button>
        </div>
    </div>
    <div ng-if="UnreadDM > 0" ng-init="DMPlayAlert()"></div>
    <div ng-if="UnreadDM == 0" ng-init="DMStopAlert()"></div>
    <!--Scripts-->
    <script type="text/javascript" src="../common/js/jquery.min.js"></script>
    <script type="text/javascript" src="../common/js/angular.min.js"></script>
    <![if !IE 8]>
    <script type="text/javascript" src="../common/js/sweetalert.min.js"></script>
    <![endif]>
    <!--<script type="text/javascript" src="../common/js/utill.js"></script>-->
    <!--<script type="text/javascript" src="../common/js/jquery-intlTelInput.js"></script>-->
    <script type="text/javascript" src="../common/js/jquery-browser.min.js"></script>
    <script type="text/javascript" src="../common/js/jquery-moment.min.js"></script>
    <script type="text/javascript" src="../common/js/jquery-moment-timezone.min.js"></script>
    <script type="text/javascript" src="../common/js/jstz-1.0.4.min.js"></script>

    <script type="text/javascript" src="/common/js/angular-translate.min.js"></script>
    <script type="text/javascript" src="/common/js/angular-translate-storage-cookie.min.js"></script>
    <script type="text/javascript" src="/common/js/angular-translate-storage-local.min.js"></script>
    <script type="text/javascript" src="/common/js/angular-translate-loader-static-files.min.js"></script>

    <script type="text/javascript" src="../common/js/es5-shim.js"></script>
    <script type="text/javascript" src="../common/js/angular-route.js"></script>
    <script type="text/javascript" src="../common/js/angular-routeData.js"></script>
    <script type="text/javascript" src="../common/js/ngDialog.js"></script>
    <script type="text/javascript" src="../common/js/angular-messages.js"></script>
    <script type="text/javascript" src="../common/js/angular-cookies.min.js"></script>
    <script type="text/javascript" src="../common/js/angular-module-currencyCode.min.js"></script>
    <script type="text/javascript" src="../common/js/angular-pagination-ui-bootstrap.js"></script>
    <script type="text/javascript" src="common/js/angular-touch.min.js"></script>

    <script type="text/javascript" src="../common/js/angular-custom-module.js"></script>
    <script type="text/javascript" src="common/js/angular-custom-common-mobile.js"></script>
    <script type="text/javascript" src="/common/js/angular-custom-customer.js"></script>
    <script type="text/javascript" src="../common/js/angular-custom-signup.js"></script>
    <script type="text/javascript" src="common/js/angular-custom-wallet-mobile.js"></script>
    <script type="text/javascript" src="common/js/angular-custom-slots-mobile.js"></script>
    <script type="text/javascript" src="/mobile/directive/component/jackpot/app-directive-jackpot.js"></script>
    <script type="text/javascript" src="/mobile/directive/component/gamebutton/app-directive-gamebutton.js"></script>
    <script type="text/javascript" src="/mobile/directive/component/customer/app-directive-customer.js"></script>
    <script type="text/javascript" src="/mobile/directive/component/announcement/app-directive-announcement.js"></script>
    <script type="text/javascript" src="/mobile/directive/component/footer/app-directive-footer.js"></script>
    <script type="text/javascript" src="/mobile/directive/component/balance/app-directive-balance.js"></script>
    <script type="text/javascript" src="/mobile/directive/component/slotsview/app-directive-slotsview.js"></script>

    <script src="/common/plugins/build/js/intlTelInput.js"></script>

    <script type="text/javascript" src="common/js/controllers/multiple-popup.controller.js"></script>
    <script type="text/javascript" src="../common/js/factory/csrf.factory.js"></script>

    <script type="text/javascript" src="../common/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="../common/js/jquery-easing.min.js"></script>
    <script type="text/javascript" src="../common/js/jquery-jOdometer.min.js"></script>
    <script type="text/javascript" src="common/js/jquery-responsive-thumbnails.js"></script>
    <script type="text/javascript" src="../common/js/slick.js"></script>
    <script src="/common/js/jquery.newsTicker.min.js"></script>
    <script type="text/javascript" src="../common/js/datetimepicker.js"></script>
    <script type="text/javascript" src="common/js/app-mobile.js"></script>

    <script>
        var __lc = {};
        __lc.license = '12912921';


        __lc.params = [{
            name: '회원정보',
            value: ''
        }];

        __lc.visitor = {
            name: '',
            email: ''
        };
        (function() {
            var lc = document.createElement('script');
            lc.type = 'text/javascript';
            lc.async = true;
            lc.src = ('https:' == document.location.protocol ? 'https://' : 'http://') + 'cdn.livechatinc.com/tracking.js';
            var s = document.getElementsByTagName('script')[0];
            s.parentNode.insertBefore(lc, s);
        })();
    </script>


</body>

</html>